/* TOP NAV */
#search {
    background-color: #f9f8f8;
    width: 200px;
}
   
.searchgroup {
    display: flex;
    justify-content: flex-end;
}

.TopNav {
    margin-right:2%;
    margin-top: 0.5%;
}

.login {
    margin-right: 1%;
    color: #4444;
  }
  

.magnifying {
    margin-right: 1%;
    margin-left: 1%;
}
/* END TOP NAV */


/* MAIN NAV */
/* END MAIN NAV */

