<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Image Upload</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="/public/styles/style.css">
</head>

<body>
  <div class="card">
    <img src="https://sydneyartgalleriesandartcommunity.files.wordpress.com/2011/08/espgallery.jpg" id="img-preview" />
    <label class="file-upload-container" for="file-upload">
      <input id="file-upload" type="file" style="display:none;"> Art Upload
    </label>
  </div>

  <!-- Scripts -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/public/scripts/app.js"></script>
</body>

</html>